{% extends "base.html" %}

{% block content %}

<div class="text-center mb-4">
    <div class="hero-title">Contact</div>
</div>

<div class="row justify-content-center">
    <div class="col-md-10 col-lg-8">

        <p class="fs-5 text-center">
            We meet every Monday 7:30pm at
            <a href="https://www.thebullhighgate.com/">The Bull Highgate</a>.
        </p>

        <p class="fs-5 text-center">
            13 North Hill<br>
            N6 4AB<br>
            London
        </p>

        <!-- Responsive Google Map -->
        <div class="ratio ratio-4x3 my-4">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2479.604643511258!2d-0.15347382245236635!3d51.57548090572624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761a48598934d1%3A0xc7e094ddbaaba84e!2sBull%20Highgate!5e0!3m2!1sen!2suk!4v1733483647329!5m2!1sen!2suk"
                style="border:0;"
                allowfullscreen
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>

        <p class="fs-5 text-center">
            You can contact us on
            <a href="https://www.facebook.com/highgateboardgames">Facebook</a>
        </p>

        <p class="fs-5 text-center">
            And find us on
            <a href="https://www.instagram.com/highgateboardgames?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">Instagram</a>
        </p>

    </div>
</div>

{% endblock %}